@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #040c1e;
}
.game{
    display: grid;
    place-content: center;
}
.gameOver{
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
 color: transparent;
    -webkit-text-stroke: 1px rgb(9, 232, 244);
    text-shadow: 0px 0px 20px cyan,
    0px 0px 40px cyan ;
    font-family: "Playwrite IT Moderna", cursive;
    
    font-weight: bold;
    
    margin: 25px 0px;
    display: none;
    height: 50px;
animation: gameOver .5s ease-in-out infinite forwards;
}
.winnerName{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
 color: transparent;
 font-family: "Playwrite IT Moderna", cursive;
    
 font-weight: bold;
    -webkit-text-stroke: 1px rgb(9, 232, 244);
    text-shadow: 0px 0px 20px cyan,
    0px 0px 40px cyan
    ;
    margin: 35px 0px;
    text-transform: uppercase;
   display: none;

}

@keyframes gameOver {
    0%{
        -webkit-text-stroke: 1px transparent;
        text-shadow: 0px 0px 20px transparent,
        0px 0px 40px transparent
        ;
    }
    50%{
        -webkit-text-stroke: 1px rgb(9, 232, 244);
        text-shadow: 0px 0px 20px cyan,
        0px 0px 40px cyan
        ;
    }
    75%{
        -webkit-text-stroke: 1px transparent;
        text-shadow: 0px 0px 20px transparent,
        0px 0px 40px transparent
        ;
    }
    100%{
        -webkit-text-stroke: 1px rgb(9, 232, 244);
        text-shadow: 0px 0px 20px cyan,
        0px 0px 40px cyan
        ;
    }
}
.boxes{
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    height: auto;
    gap: 0px;
    align-items: center;
    justify-content: center;
    transition: .2s;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}
#box{
    width: 70px;
    height: 70px;
    font-size: 2.8rem;
    background-color: #fff;
    color: transparent;
    outline: none;
    border: 1px solid rgba(137, 255, 245, 0.415);
    cursor: pointer;
    background-color: #040c1e;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(9, 232, 244);

}
#box:nth-child(1){
   border-top: transparent;
   border-left: transparent;
}
#box:nth-child(2){
   border-top: transparent;
}
#box:nth-child(3){
   border-top: transparent;
   border-right: transparent;
}
#box:nth-child(4){
   border-left: transparent;
}
#box:nth-child(6){
   border-right: transparent;
}
#box:nth-child(7){
   border-left: transparent;
   border-bottom: transparent;
}
#box:nth-child(8){
   border-bottom: transparent;
}
#box:nth-child(9){
   border-right: transparent;
   border-bottom: transparent;
}
.winner{
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(6, 248, 183);
    text-shadow: 0px 0px 20px cyan,
    0px 0px 40px cyan
    ;

}

#reset{
    text-align: center;
    margin: 50px auto;
    background-color: rgb(9, 141, 174);
    color: #fff;
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 6px 30px;
    cursor: pointer;
    font-size: .95rem;
 
}